<%= config.title %>

<%= config.description %>
<% if (config.reviewers && config.reviewers.length > 0) { %>
Code review:
------------

<% } %>
<% _.forEach(config.reviewers, function(reviewer) { %> - <%- reviewer %>
<% }); %>

<% if (config.testers && config.testers.length > 0) { %>
Testing:
--------

<% }%>
<% _.forEach(config.testers, function(tester) { %> - [ ] <%- tester %>
<% }); %>

<% if (config.additionalRequirements && config.additionalRequirements.length > 0) { %>
Additional requirements:
------------------------
<% } %>
<% _.forEach(config.additionalRequirements, function(additionalRequirement) { %> - [ ] <%- additionalRequirement %>
<% }); %>

<% if (config.issues && config.issues.length > 0) { %>
Related issues:
---------------
<% } %>
<% _.forEach(config.issues, function(issue) { %> - <%- issue %>
<% }); %>
